<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HotPlay - Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://hotplay.njw.kr/css/404.css">
    <style>
        html, body { margin: 0; padding: 0; }
        body { background-color: rgb(21, 16, 25); }
        .notfound { max-width: 800px; margin: 0 auto; }
        h2 { color: white; }
        textarea { display: block; width: 100%; margin: 20px 0; overflow-y: scroll; height: 30vh; }
    </style>
</head>
<body>
    <div class="notfound">
        <div class="notfound-404">
            <h1><%- error_code %></h1>
        </div>
        <h2><%- error_summary %></h2>
        <a href="/">Go To Homepage</a>
        <% if (error_message) { %>
            <textarea readonly><%- error_message %></textarea>
        <% } %>
    </div>
</body>
</html>
