<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HotPlay - Compatible Game Replayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://hotplay.njw.kr/css/pure-min.css">
    <link rel="stylesheet" href="https://hotplay.njw.kr/css/index.css">
    <link rel="stylesheet" href="https://hotplay.njw.kr/css/vue-minusplus.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-slider-component@3.0.33/theme/default.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/vue/2.3.2/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-slider-component@3.0.33/dist/vue-slider-component.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.0/pixi.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pixi-filters@3.0.3/dist/pixi-filters.js"></script>
    <script src="https://hotplay.njw.kr/js/index.js"></script>
    <script src="https://hotplay.njw.kr/js/vue-minusplus.js"></script>
    <script src="https://hotplay.njw.kr/js/lol.js"></script>
    <script src="https://hotplay.njw.kr/js/player.js"></script>
    <script src="https://hotplay.njw.kr/js/scale.js"></script>
    <script>
        window.replay = <%- replay %>;
    </script>
</head>
<body>
    <noscript>Your browser does not support Javascript.</noscript>
    <div id="app" v-cloak>
        <div class="header">
            <h3 id="title"><a href="/">{{ title }}</a></h3>
            <div class="right">
                <v-minusplus v-model="playerSpeed" :min="1" :max="100" :interval="5"></v-minusplus>
            </div>
        </div>
        <div id="replay">
            <div class="replay-control">
                <div id="replay-timer">
                    <button id="replay-pause" class="pure-button"><i :class="pauseCaption"></i></button>
                </div>
                <div id="replay-slider">
                    <vue-slider v-model="timeline" ref="replayslider"
                        :clickable="false"
                        :max="timelineMax"
                        :tooltip="'always'"
                        :duration="0"
                        :tooltip-formatter="timelineStr"
                        @drag-start="playerTemporaryPause"
                        @drag-end="playerRestore"
                        @change="refreshTimeline"></vue-slider>
                </div>
            </div>
            <div id="player">
                <div id="event-list" class="list">
                    <table id="event-list-table" class="pure-table pure-table-bordered">
                        <thead>
                            <th>#</th>
                            <th>EVENT</th>
                        </thead>
                        <tbody>
                            <tr v-for="item in reversedEventList">
                                <td class="center">{{ item.time }}</td>
                                <td v-html="item.event"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="user-list" class="list">
                    <table id="user-list-table" class="pure-table pure-table-bordered">
                        <thead>
                            <th>NAME</th>
                            <th>K</th>
                            <th v-if="canRevive">D</th>
                            <th>A</th>
                        </thead>
                        <tbody>
                            <tr v-for="item in sortedPlayerList" v-if="item.visible">
                                <td>
                                    <span v-if="item.death && !canRevive" class="red">{{ item.name }} (DIE)</span>
                                    <strong v-else>{{ item.name }}</strong>
                                </td>
                                <td>{{ item.kill }}</td>
                                <td v-if="canRevive">{{ item.death }}</span>
                                <td>{{ item.assist }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
