<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HotPlay - Compatible Game Replayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="top-slide">
        <div class="container">
            <ul class="menu">
                <li>ABOUT</li>
                <li>DOCS</li>
                <li>GITHUB</li>
            </ul>
            <h1 class="clear">HotPlay</h1>
            <button id="start">Start</button>
        </div>
    </div>
    <div class="container">
        <div class="cardboard">
            <div class="card">
                Hello<br>
                Hello<br>
                Hello<br>
                Hello<br>
                World!
            </div>
            <div class="card">
                Hello<br>
                Hello<br>
                Hello<br>
                Hello<br>
                Hello<br>
                Thank you
            </div>
            <div class="card">
                Hello<br>
                Hello<br>
                Hi
            </div>
        </div>
    </div>
</body>
</html>
