html, body {
    background-color: #ECEFF1;
    font-size: 16px;
}

body {
    overflow-y: hidden;
}

#app {
    height: 100vh;
}

#title {
    display: inline-block;
    margin: 0;
}

#title a {
    display: inline-block;
    color: #DD0000;
    text-decoration: none;
}

#title a:hover {
    transform: scale(1.1);
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -o-transition: transform .3s;
    -ms-transition: transform .3s;
    transition: transform .3s;
}

.header {
    max-width: 800px;
    margin: 1em auto 2em auto;
}

.replay-control {
    width: 100%;
    text-align: center;
    margin: 0 auto 10px auto;
}

#replay {
    clear: both;
    text-align: center;
}

#replay-timer {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

#replay-timer #replay-pause {
    font-size: 85%;
    border: 1px solid #708090;
}

#replay-slider {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    margin: 0 0 0 15px;
    padding: 0;
}

#player {
    position: relative;
    display: inline-block;
}

.list {
    position: absolute;
    width: 250px;
    overflow: auto;
    margin: 0;
    font-size: 10px;
}

.list table {
    width: 100%;
}

.list table th {
    text-align: center;
}

#event-list {
    left: -250px;
}

#event-list td {
    text-align: left;
}

.list td {
    white-space: nowrap;
    padding: 0 2px;
}

#player canvas {
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.clear {
    clear: both !important;
}

.right {
    float: right !important;
}

.center {
    text-align: center !important;
}

.black {
    color: black !important;
}

.red {
    color: red !important;
}

.blue {
    color: blue !important;
}

[v-cloak] {
    display: none;
}
