html, body {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: rgb(21, 16, 25);
    min-height: 100vh;
    font-size: 16px;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

h1#title {
    text-align: center;
    font-size: 5em;
    padding-top: 150px;
    margin-bottom: 150px;
    font-family: 'Lora', serif;
    /* color: #DD0000; */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.top {
    overflow: hidden;
}

.top-slide {
    padding: 10px 0;
    margin-bottom: 10px;
}

#top-menu {
    float: right;
    margin: 0;
}

#top-menu li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#top-menu li a:link, #top-menu li a:visited, #top-menu li a:active {
    background: transparent;
    color: white;
}

#top-menu li a:hover {
    background: white;
    color: black;
}

.menu {
    float: right;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu li::after {
    content: " |";
}

.menu li:last-child::after {
    content: "";
}

#replay-button {
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid #CCCCCC;
}

#replay-button:hover {
    transform: scale(1.2);
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -o-transition: transform .3s;
    -ms-transition: transform .3s;
    transition: transform .3s;
}

.cardboard {
    display: none;
}

.card {
    display: inline-block;
    background-color: white;
    width: 30%;
    border: 1px solid;
    vertical-align: top;
    margin: 10px 0;
}

.clear {
    clear: both;
}
